<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Bloglar</title>
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action active">Web Geliştirme</a>
                    <a href="" class="list-group-item list-group-item-action">Mobil Uygulamalar</a>
                    <a href="" class="list-group-item list-group-item-action">Veri Analizi</a>
                    <a href="" class="list-group-item list-group-item-action">Programlama</a>
                </div>
            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3">Bloglar</h1>
                <% blogs.forEach(element => { %>
                        <div class="card mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="<%= element.blogImage %>" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= element.blogTitle %></h5>
                                        <p class="card-text">
                                            <%= element.blogDescription %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                <% }) %>

                <% if (blogs.length > 3) { %>
                    <%- include('../partials/pagination') %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>