<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title><%= blog.title %></title>
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/static/images/<%= blog.dataValues.image %>" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8">
                        <h1 class="h3 mb-3"><%= blog.dataValues.title %></h1>
                        <p><%- blog.dataValues.description %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>